/* reset style */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article {
  display: block;
}
body {
  line-height: 1;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ul {
  list-style: none;
}
html,
body {
  height: 100%;
}
/* common style */
.post-title h3 {
  margin-bottom: 0.618em;
}
.post-title h3 a {
  color: #555;
  font-size: 1.125em;
  font-weight: bold;
  display: inline-block;
}
.post-title h3 a:hover {
  color: black;
}
.post-title .article-meta {
  width: 60%;
  font-size: 0.75em;
  color: #999;
  line-height: 1.5em;
  border-bottom: 1px dashed #d9d9d9;
}
.post-title .article-meta .article-tag > a {
  color: #999;
}
.post-title .article-meta .article-tag > a:hover {
  color: #717171;
}
/* markdown style */
.markdown-text h1 {
  font-size: 1.25em;
}
.markdown-text p {
  color: #2f2f2f;
  line-height: 2em;
  margin: 1em 0;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
.markdown-text > *:first-child {
  margin-top: 0;
}
.markdown-text > *:last-child {
  margin-bottom: 1em;
}
.markdown-text ul {
  padding: 0 40px;
}
.markdown-text ul li {
  font-size: 14px;
  line-height: 2em;
  list-style: disc;
}
.markdown-text p code,
.markdown-text li code {
  color: black;
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 4px 6px;
}
.markdown-text img {
  max-width: 600px;
  margin: 20px;
}
.markdown-text .highlight.plain {
  padding: 0;
  margin: 1em 0;
}
.markdown-text .highlight .gutter {
  display: none;
}
.markdown-text .highlight .code {
  background-color: whitesmoke;
  word-break: break-word;
  border-left: 4px solid #999999;
  padding: 0 10px;
}
.markdown-text .highlight .code.line {
  word-break: break-word;
}
/* auto-meta style */
body {
  font-size: 16px;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body .author-meta {
  width: 25%;
  height: 100%;
  color: #fff;
  float: left;
  background: url(../images/theme/book.jpg);
  background-size: cover;
}
body .author-meta a {
  color: #fff;
}
body .site-title {
  padding: 38px 30px 30px 30px;
}
body .site-title h1 {
  font-size: 2.4em;
}
body .site-title h3 span {
  font-size: 1em;
  line-height: 1.8em;
  display: block;
}
body .site-title h3 .site-title-offset {
  padding-left: 2em;
}
/* article list style */
.article-list {
  width: 75%;
  height: 100%;
  float: left;
  overflow: auto;
  box-sizing: border-box;
  padding: 2em 0 2em 8.44%;
}
.article-list .article {
  padding-top: 2em;
}
.article-list .article h3 {
  margin-bottom: 0.618em;
}
.article-list .article h3 a {
  color: #555;
  font-size: 1.125em;
  font-weight: bold;
  display: inline-block;
}
.article-list .article h3 a:hover {
  color: black;
}
.article-list .article .article-meta {
  width: 60%;
  font-size: 0.75em;
  color: #999;
  line-height: 1.5em;
  border-bottom: 1px dashed #d9d9d9;
}
.article-list .article .article-meta .article-tag > a {
  color: #999;
}
.article-list .article .article-meta .article-tag > a:hover {
  color: #717171;
}
/* post style */
.post {
  width: 75%;
  height: 100%;
  float: left;
  overflow: auto;
  box-sizing: border-box;
  padding: 32px 3.125% 32px 3.125%;
}
.post .post-head {
  margin-bottom: 2em;
}
.post .post-head h3 {
  margin-bottom: 0.618em;
}
.post .post-head h3 a {
  color: #555;
  font-size: 1.125em;
  font-weight: bold;
  display: inline-block;
}
.post .post-head h3 a:hover {
  color: black;
}
.post .post-head .article-meta {
  width: 60%;
  font-size: 0.75em;
  color: #999;
  line-height: 1.5em;
  border-bottom: 1px dashed #d9d9d9;
}
.post .post-head .article-meta .article-tag > a {
  color: #999;
}
.post .post-head .article-meta .article-tag > a:hover {
  color: #717171;
}
.post .post-head h3 > a {
  font-size: 1.6em;
}
